---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const allBios = await getCollection('bios');
const steeringGroup = allBios.filter(bio => bio.data.role !== "Advisory Board Member");
const advisoryBoard = allBios.filter(bio => bio.data.role === "Advisory Board Member");
---

<BaseLayout title="About Us" description="Learn about MMT UK and our team." currentPage="about-us">
<header class="section_header111 text-color-white">
        <div class="padding-global">
          <div class="container-large">
            <div class="header111_component">
              <div class="padding-section-large">
                <div class="header111_content-wrapper w-clearfix">
                  <div class="header111_content-left">
                    <h1 class="heading-style-h1">We Are <br>Academics, <br>Activists &amp; <br>Organisers</h1>
                  </div>
                  <div class="padding-huge"></div>
                  <div id="w-node-_20c58ef9-42e7-f416-12e4-c6d2a9398d57-4c382439" class="header111_content-right w-clearfix">
                    <p id="w-node-_20c58ef9-42e7-f416-12e4-c6d2a9398d58-4c382439" class="text-size-medium">We bring together leading minds from the UK MMT community to deliver rigorous research and accessible resources for policymakers, public institutions, civil society and the wider public.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header111_background-image-wrapper">
          <div class="image-overlay-layer"></div><img width="Auto" sizes="(max-width: 989px) 100vw, 989px" alt="" src="/images/UK-Sectoral-balances-clipped.avif" loading="eager" srcset="/images/UK-Sectoral-balances-clipped-p-500.avif 500w, images/UK-Sectoral-balances-clipped.avif 989w" class="header111_background-image">
        </div>
      </header>
      <section class="section_team8 color-scheme-2">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="team8_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="max-width-large margin-bottom margin-large">
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h2 left">Steering Group</h2>
                    </div>
                    <p class="text-size-medium">Dedicated minds driving economic and social research forward</p>
                  </div>
                  <div class="w-dyn-list">
                    <div role="list" class="team8_list-wrapper w-dyn-items">
                      {steeringGroup.map((bio) => (
                        <div role="listitem" class="w-dyn-item">
                          <div class="team8_item">
                            <div class="margin-bottom margin-small">
                              <div class="team8_image-wrapper">
                                <img loading="lazy" src={bio.data.photo} alt={bio.data.name} class="team8_image" />
                              </div>
                            </div>
                            <div class="margin-bottom margin-xsmall">
                              <div class="team8_title-wrapper w-clearfix">
                                <div class="text-size-large text-weight-semibold">{bio.data.name}</div>
                                <div class="text-size-medium-2">{bio.data.role}</div>
                              </div>
                            </div>
                            {bio.data.linkedin && (
                              <div class="margin-top margin-small">
                                <div class="w-layout-grid team8_social">
                                  <a href={bio.data.linkedin} target="_blank" rel="noopener noreferrer" class="social-link w-inline-block">
                                    <div class="social-icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3ZM8 18C8.27614 18 8.5 17.7761 8.5 17.5V10.5C8.5 10.2239 8.27614 10 8 10H6.5C6.22386 10 6 10.2239 6 10.5V17.5C6 17.7761 6.22386 18 6.5 18H8ZM7.25 9C6.42157 9 5.75 8.32843 5.75 7.5C5.75 6.67157 6.42157 6 7.25 6C8.07843 6 8.75 6.67157 8.75 7.5C8.75 8.32843 8.07843 9 7.25 9ZM17.5 18C17.7761 18 18 17.7761 18 17.5V12.9C18.0325 11.3108 16.8576 9.95452 15.28 9.76C14.177 9.65925 13.1083 10.1744 12.5 11.1V10.5C12.5 10.2239 12.2761 10 12 10H10.5C10.2239 10 10 10.2239 10 10.5V17.5C10 17.7761 10.2239 18 10.5 18H12C12.2761 18 12.5 17.7761 12.5 17.5V13.75C12.5 12.9216 13.1716 12.25 14 12.25C14.8284 12.25 15.5 12.9216 15.5 13.75V17.5C15.5 17.7761 15.7239 18 16 18H17.5Z" fill="CurrentColor"></path>
                                      </svg></div>
                                  </a>
                                </div>
                              </div>
                            )}
                          </div>
                        </div>
                      ))}
                    </div>
                    {steeringGroup.length === 0 && (
                      <div class="w-dyn-empty">
                        <div>No items found.</div>
                      </div>
                    )}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_team8 color-scheme-2">
        <div class="padding-global">
          <div class="divider-horizontal page_divider"></div>
          <div class="container-large">
            <div class="padding-section-large">
              <div class="team8_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="max-width-large margin-bottom margin-large">
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h2 left">ADVISORY BOARD</h2>
                    </div>
                    <p class="text-size-medium">Independent guidance from leading global MMT economists.</p>
                  </div>
                  <div class="w-dyn-list">
                    <div role="list" class="team8_list-wrapper w-dyn-items">
                      {advisoryBoard.map((bio) => (
                        <div role="listitem" class="w-dyn-item">
                          <div class="team8_item">
                            <div class="margin-bottom margin-small">
                              <div class="team8_image-wrapper">
                                <img loading="lazy" src={bio.data.photo} alt={bio.data.name} class="team8_image" />
                              </div>
                            </div>
                            <div class="margin-bottom margin-xsmall">
                              <div class="team8_title-wrapper w-clearfix">
                                <div class="text-size-large text-weight-semibold">{bio.data.name}</div>
                                <div class="text-size-medium-2">{bio.data.role}</div>
                              </div>
                            </div>
                            {bio.data.linkedin && (
                              <div class="margin-top margin-small">
                                <div class="w-layout-grid team8_social">
                                  <a href={bio.data.linkedin} target="_blank" rel="noopener noreferrer" class="social-link w-inline-block">
                                    <div class="social-icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3ZM8 18C8.27614 18 8.5 17.7761 8.5 17.5V10.5C8.5 10.2239 8.27614 10 8 10H6.5C6.22386 10 6 10.2239 6 10.5V17.5C6 17.7761 6.22386 18 6.5 18H8ZM7.25 9C6.42157 9 5.75 8.32843 5.75 7.5C5.75 6.67157 6.42157 6 7.25 6C8.07843 6 8.75 6.67157 8.75 7.5C8.75 8.32843 8.07843 9 7.25 9ZM17.5 18C17.7761 18 18 17.7761 18 17.5V12.9C18.0325 11.3108 16.8576 9.95452 15.28 9.76C14.177 9.65925 13.1083 10.1744 12.5 11.1V10.5C12.5 10.2239 12.2761 10 12 10H10.5C10.2239 10 10 10.2239 10 10.5V17.5C10 17.7761 10.2239 18 10.5 18H12C12.2761 18 12.5 17.7761 12.5 17.5V13.75C12.5 12.9216 13.1716 12.25 14 12.25C14.8284 12.25 15.5 12.9216 15.5 13.75V17.5C15.5 17.7761 15.7239 18 16 18H17.5Z" fill="CurrentColor"></path>
                                      </svg></div>
                                  </a>
                                </div>
                              </div>
                            )}
                          </div>
                        </div>
                      ))}
                    </div>
                    {advisoryBoard.length === 0 && (
                      <div class="w-dyn-empty">
                        <div>No items found.</div>
                      </div>
                    )}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</BaseLayout>
