---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const allLocalGroups = await getCollection('localGroups');
const localGroups = allLocalGroups
  .filter(group => group.data.active)
  .sort((a, b) => a.data.name.localeCompare(b.data.name));
---

<BaseLayout title="Community" description="Join the MMT UK community." currentPage="community">
<header class="section_header54 text-color-white">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="header54_component">
                <div class="max-width-large">
                  <div class="margin-bottom margin-small">
                    <h1 class="heading-style-h1">community</h1>
                  </div>
                  <p class="text-size-medium-2">Meet, learn and organise with people building a better UK economy.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header54_background-image-wrapper">
          <div class="image-overlay-layer"></div><img sizes="(max-width: 1920px) 100vw, 1920px" srcset="/images/Local-events-p-500.avif 500w, images/Local-events-p-800.avif 800w, images/Local-events-p-1080.avif 1080w, images/Local-events.avif 1920w" alt="" src="/images/Local-events.avif" loading="eager" class="header54_background-image">
        </div>
      </header>
      <section id="Network" class="section_portfolio11 color-scheme-2">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="portfolio11_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2 left">Local Groups</h2>
                      </div>
                      <p class="text-size-medium-11">Connect with MMT supporters in your area to share knowledge, discuss regional issues and coordinate local campaigns together.</p>
                    </div>
                  </div>
                </div>
                <div class="portfolio11_content">
                  <div class="portfolio11_list-wrapper">
                    <div class="w-layout-grid portfolio11_list">
                      {localGroups.map((group) => (
                        <div class="portfolio11_item">
                          <a href={`/local-group/${group.data.slug}`} class="portfolio11_item-link w-inline-block">
                            <div class="margin-bottom margin-small">
                              <div class="portfolio11_image-wrapper"><img sizes="(max-width: 640px) 100vw, 640px" src={group.data.headerImage} alt={group.data.name} loading="lazy" class="portfolio11_image"></div>
                            </div>
                            <div class="margin-bottom margin-xxsmall">
                              <h3 class="heading-style-h5-6">{group.data.title}</h3>
                            </div>
                            <div class="text-size-regular">{group.data.tagline}</div>
                            <div class="margin-top margin-small">
                              <div class="button-group">
                                <div class="button-2 is-link is-icon">
                                  <div>Get involved</div>
                                  <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                                    </svg></div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      ))}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="Events" class="section_event7 color-scheme-4">
        <div class="padding-global">
          <div class="divider-horizontal page_divider"></div>
          <div class="container-large">
            <div class="padding-section-large">
              <div class="event7_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2 left">Upcoming events</h2>
                      </div>
                      <p class="text-size-medium-12">Discover critical conversations shaping economic understanding</p>
                    </div>
                  </div>
                </div>
                <div class="event7_content">
                  <div class="event7_list-wrapper">
                    <div class="w-layout-grid event7_list">
                      <div class="event7_item">
                        <a href="#" class="event7_item-link w-inline-block">
                          <div class="margin-bottom margin-small">
                            <div class="event7_image-wrapper">
                              <div class="event7_date-wrapper">
                                <div class="text-size-small-5">Fri</div>
                                <div class="heading-style-h4">09</div>
                                <div class="text-size-small-5">Feb 2024</div>
                              </div><img loading="lazy" src="https://cdn.prod.website-files.com/68eb7d3a8faa45b7f479e59d/68eb7d3a8faa45b7f479e669_chris-montgomery-smgTvepind4-unsplash.avif" alt="" class="event7_image">
                            </div>
                          </div>
                          <div class="margin-bottom margin-xsmall">
                            <div class="event7_meta-wrapper">
                              <div class="tag">
                                <div>Workshop</div>
                              </div>
                            </div>
                          </div>
                          <h3 class="heading-style-h5-6">Reimagining economic frameworks</h3>
                          <div class="margin-bottom margin-xxsmall">
                            <div>Online</div>
                          </div>
                          <div class="text-size-regular">Interactive digital seminar exploring alternative monetary perspectives</div>
                          <div class="margin-top margin-small">
                            <div class="button-group">
                              <div class="button-2 is-link is-icon">
                                <div>Register now</div>
                                <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                                  </svg></div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="event7_item">
                        <a href="#" class="event7_item-link w-inline-block">
                          <div class="margin-bottom margin-small">
                            <div class="event7_image-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/68eb7d3a8faa45b7f479e59d/68eb7d3a8faa45b7f479e667_zac-bowling-Gi-HOiLMx7o-unsplash.avif" alt="" class="event7_image">
                              <div class="event7_date-wrapper">
                                <div class="text-size-small-5">Sat</div>
                                <div class="heading-style-h4">10</div>
                                <div class="text-size-small-5">Feb 2024</div>
                              </div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xsmall">
                            <div class="event7_meta-wrapper">
                              <div class="tag">
                                <div>Roundtable</div>
                              </div>
                            </div>
                          </div>
                          <h3 class="heading-style-h5-6">Community economic resilience</h3>
                          <div class="margin-bottom margin-xxsmall">
                            <div>Edinburgh</div>
                          </div>
                          <div class="text-size-regular">Collaborative discussion on grassroots financial empowerment strategies</div>
                          <div class="margin-top margin-small">
                            <div class="button-group">
                              <div class="button-2 is-link is-icon">
                                <div>Join discussion</div>
                                <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                                  </svg></div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="event7_item">
                        <a href="#" class="event7_item-link w-inline-block">
                          <div class="margin-bottom margin-small">
                            <div class="event7_image-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/68eb7d3a8faa45b7f479e59d/68eb7d3a8faa45b7f479e668_valery-tenevoy-vWjwXHGd13Y-unsplash.avif" alt="" class="event7_image">
                              <div class="event7_date-wrapper">
                                <div class="text-size-small-5">Sun</div>
                                <div class="heading-style-h4">11</div>
                                <div class="text-size-small-5">Feb 2024</div>
                              </div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xsmall">
                            <div class="event7_meta-wrapper">
                              <div class="tag">
                                <div>Lecture</div>
                              </div>
                            </div>
                          </div>
                          <h3 class="heading-style-h5-6">Monetary policy innovations</h3>
                          <div class="margin-bottom margin-xxsmall">
                            <div>London</div>
                          </div>
                          <div class="text-size-regular">Expert insights into emerging economic transformation models</div>
                          <div class="margin-top margin-small">
                            <div class="button-group">
                              <div class="button-2 is-link is-icon">
                                <div>Attend lecture</div>
                                <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                                  </svg></div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_cta1">
        <div class="padding-global">
          <div class="divider-horizontal page_divider"></div>
          <div class="container-large">
            <div class="padding-section-large">
              <div class="cta1_component">
                <div class="w-layout-grid cta1_content">
                  <div class="cta1_content-left">
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h2 left">MMT hub | UK</h2>
                    </div>
                    <p class="text-size-medium-13">Join our moderated UK community on Discord for lively discussion, learning, events, and practical collaboration.</p>
                    <div class="margin-top margin-medium">
                      <div class="button-group">
                        <a href="https://discord.gg/S3UbxFe4FR" target="_blank" class="button-2 w-button">Join now</a>
                      </div>
                    </div>
                  </div>
                  <div class="cta1_image-wrapper"><img loading="lazy" src="/images/MMTUK-Discord-2.avif" alt="" class="cta1_image"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</BaseLayout>
